* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(245, 248, 255);
  /* width: 100%;
  max-width: 1140px;
  margin: auto; */
  /* border: 2px solid black; */
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  /* border: 2px solid black; */
}

/* Css for Navbar */

header {
  margin-top: 30px;
  /* border: 2px solid red; */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.font-light {
  color: rgb(137, 135, 161);
}
.font-bold {
  font-weight: 700;
}

.menu-list {
  width: 100%;
  max-width: 415px;
  display: flex;
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 16px;
  justify-content: space-between;
}

.icon {
  display: flex;
}

.logo img {
  width: 100%;
  height: 100%;
  max-width: 135px;
  max-height: 82px;
}

@media screen and (max-width: 600px) {
  .nav-txt {
    display: none;
  }
  .menu-list {
    justify-content: end;
  }
  .logo img {
    width: 100%;
    height: 100%;
    max-width: 63px;
    max-height: 38px;
    margin-left: 10px;
  }
}

/* CSS for Banner */

.banner {
  display: flex;
  align-items: end;
  margin-top: 122px;
}

.banner-info {
  width: 50%;
}
.banner-info h1 {
  font-family: "Noto Serif", serif;
  font-size: 65px;
  font-weight: 700;
  color: rgb(233, 90, 8);
}
.banner-info p {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  font-family: "Inter", sans-serif;
  margin-top: 13px;
}
.banner-info span {
  color: #000000;
}
.banner-img {
  width: 50%;
}
.banner-img img {
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .banner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 28px;
  }
  .container {
    width: 100%;
  }
  .banner-info {
    width: 100%;
  }
  .banner-info h1 {
    /* border: 2px solid red; */
    font-size: 24px;
    line-height: 33px;
  }
  .banner-info p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }
  .banner-img {
    width: 100%;
    margin-bottom: 28px;
  }
}

/* CSS for plants */

.plants {
  margin-top: 118px;
}
.about-plants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 49px;
}
.about-plants h1 {
  font-family: "Noto Serif", serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
  text-align: center;
}
.about-plants span {
  color: rgb(233, 90, 8);
}
.about-plants p {
  max-width: 888px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}
.flower-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flower-info button {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 90, 8);
  margin-top: 30px;
  width: 100%;
  height: 50px;
  border: none;
}
.plant-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.plant-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}
.plant-box img {
  max-width: 100%;
  width: 100%;
}
.flower-info h3,
p {
  color: rgb(17, 17, 17);
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 150%;
}
.flower-info p {
  font-weight: 700;
}
@media screen and (max-width: 600px) {
  .plant-products {
    grid-template-columns: repeat(2, 1fr);
  }
  .about-plants h1 {
    font-size: 24px;
    line-height: 33px;
  }
  .about-plants p {
    font-size: 17px;
    line-height: 17px;
    margin-top: 16px;
  }
  .flower-info h3,
  p {
    font-size: 16px;
  }
}

/* CSS for plants lover section */

.plants-lover {
  display: flex;
  align-items: stretch;
  margin-top: 210.12px;
  position: relative;
}
.trusted-badge {
  position: absolute;
  left: 50%;
  top: -143px;
  transform: translateX(-50%);
  z-index: 3;
  height: 286px;
  width: 286px;
}
.trusted-badge img {
  width: 100%;
}
.lover,
.lover-info {
  flex: 1;
}
.lover img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.lover-info {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.info-details {
  max-width: 540px;
}
.info-details ul {
  list-style-position: outside;
  padding-left: 20px;
}
.info-details h1 {
  color: rgb(0, 0, 0);
  font-family: "Noto Serif", serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
}
.info-details li {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 20px;
}
@media screen and (max-width: 600px) {
  .plants-lover {
    flex-direction: column;
    margin-top: 41.5px;
  }
  .lover-info {
    margin-top: 18px;
  }
  .trusted-badge {
    display: none;
  }
  .info-details h1 {
    font-size: 24px;
    line-height: 33px;
  }
  .info-details li {
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 16px;
  }
}

/* CSS for latest deals section */

.deal-info {
  margin-top: 133.88px;
}

.deal-images {
  height: 423.12px;
  display: flex;
  justify-content: space-between;
  margin: 120px auto;
}
.deal-img-box1 {
  width: 367px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.deal-img1 {
  max-height: 201px;
  height: 100%;
  max-width: 367px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%),
    url("./assets/deal-bloom.png");
  /* background-image: url("./assets/deal-bloom.png"); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: "Noto Serif", serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}
.deal-img2 {
  max-height: 201px;
  height: 100%;
  max-width: 367px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%),
    url("./assets/deal-ana.png");
  /* background-image: url("./assets/deal-ana.png"); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: "Noto Serif", serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}
.deal-img3 {
  max-height: 423.12px;
  height: 100%;
  max-width: 753px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%),
    url("./assets/deal-zabo.png");
  /* background-image: url("./assets/deal-zabo.png"); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: "Noto Serif", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}
.deal-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-txt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.deal-img-box1 p {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  padding: 26px 50px 26px 50px;
  text-decoration: underline;
}
.deal-img3 p {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 20px;
  padding: 26px 50px 26px 50px;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .deal-images {
    display: flex;
    flex-direction: column;
    width: 361px;
    height: 581px;
  }
  .deal-img-box1 {
    height: auto;
    width: auto;
  }
  .deal-img1,
  .deal-img2,
  .deal-img3 {
    width: 361px;
    height: 177px;
    margin-bottom: 20px;
    border-radius: 14px;
    font-size: 20px;
    line-height: 27px;
  }

  .deal-images p {
    font-size: 16px;
    line-height: 19px;
    padding: 20px 50px 20px 50px;
  }
}

/* CSS for "join" section */

.join-section {
  background-image: url("./assets/news-letter-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-box {
  max-width: 830px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.join-box h2 {
  color: rgb(255, 255, 255);
  font-family: "Noto Serif", serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
}
.subscription {
  display: flex;
  max-width: 830px;
  width: 100%;
  height: 50px;
  margin-top: 23px;
}
.subscription button {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: rgb(233, 90, 8);
  max-width: 186px;
  width: 100%;
  height: 50px;
  border: none;
}
.subscription input {
  max-width: 644px;
  width: 100%;
  height: 50px;
  border: none;
  padding: 8px 20px 8px 20px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 600px) {
  .join-box h2 {
    font-size: 20px;
    line-height: 27px;
  }
  .subscription button {
    max-width: 103px;
    width: 100%;
  }
  .join-section {
    height: 275px;
  }
  .join-box {
    max-width: 321px;
    width: 100%;
  }
}

/* CSS for footer section */

.footer {
  height: 348px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-box {
  max-width: 1120px;
  width: 100%;
  max-height: 248px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-box1 {
  display: flex;
  justify-content: start;
  align-items: start;
}
.footer-info {
  height: 179px;
  max-width: 359px;
  width: 100%;
}
.footer-info img {
  height: 81px;
}
.footer-info p {
  margin-top: 16px;
  height: 81px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 16px;
}
.footer-box2 {
  max-width: 85px;
  width: 100%;
}
.footer-box2 ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(107, 114, 128);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.footer-box2 li {
  list-style: none;
}
.footer-box2 a {
  text-decoration: none;
}

.footer-box3-width {
  max-width: 128px;
  width: 100%;
}

.footer-box3 {
  max-width: 216px;
  width: 100%;
  max-height: 36px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-box3 img {
  height: 100%;
}
@media screen and (max-width: 600px) {
  .footer {
    height: 865px;
    width: 393px;
  }
  .footer-box {
    display: flex;
    flex-direction: column;
    max-width: 359px;
    max-height: 765px;
  }
  .footer-info {
    height: 173px;
  }
  .footer-info p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .footer-box12 {
    height: 248px;
  }
}
